---
pagination: 
  data: collections.post
  size: 10
  alias: posts
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head-content.liquid %}

  <link rel="stylesheet" href="/css/pages/posts.css">
</head>

<body>
  {% include header.liquid %}

  <main class="main">
    <h1>Posts</h1>

    {% assign posts = collections.post reverse -%}

    {% if posts.size > 0 %}
      <ul class="post-list">
        {%- for post in posts %}
          <li class="postitem">
            <a href="{{- post.url -}}" class="postitem-link">
              <h3 class="postitem-heading">
              {{- post.data.title -}}
              </h3>
            </a>

            {%- if post.data.extract -%}
              <p class="postitem-extract">{{ post.data.extract }}...</p>
            {%- endif -%}

            <p> 
              {% if post.data.author -%}
                <span class="postitem-author">By {{ post.data.author -}}</span>
              {%- endif -%}
            </p>
          </li>
        {%- endfor %}
      </ul>
    {% else %}
      <p>More posts will be up soon!</p>
    {% endif %}

    <p>
      {%- if pagination.href.previous  %}
        <a href="{{ pagination.href.previous }}">< Previous Page</a>
      {% endif -%}

      {%- if pagination.href.next  %}
        <a href="{{ pagination.href.next }}">Next Page ></a>
      {% endif -%}
    </p>
  </main>

  {% include footer.liquid %}
</body>
</html>

